<fieldset>
  <legend>Date format</legend>
  <div>
    <input name="preferences[dateFormat]" type="text" class="form-input" />
    <span class="label" id="date_format_example"></span>

    <p class="form-hint">You can customize how dates are displayed by
      specifying months, days, and years using the letters "MM", "DD",
      and "YYYY" respectively.
  </div>
</fieldset>
