[autogen]
/build/!README
/build/*
/www/dist/apps
/www/dist/pibi.js
/www/dist/pibi.css
/www/dist/pibi-rtl.css
/www/dist/vendor.js
/bin/reporters/event_listeners.html
/doc/api
/doc/coverage
/doc/assets
/doc/dist
/.sublime-project.sublime-workspace
/.jshint.html
/tests.html
/_SpecRunner.html
/coverage
/integration-tests.html
/src/js/main.js

[build]
/tmp/*
/releases
!/tmp/.gitkeep

[assets]
/www/assets/fonts/*/index.html
exclude
*.zip
*.gz

[env]
*.swp
/.grunt/
/node_modules/
/assets
/www/apps
/www/src
/www/vendor
/www/node_modules
/src/js/config/environments/*.js
!/src/js/config/environments/test.js
!/src/js/config/environments/development.js
!/src/js/config/environments/defaults.js
npm-debug.log

[repos]
/vendor/js/router.js
